body
{
    background-color: lightgray;
}
label
{
    color:#903dc2;
    margin-inline-end: 40px;
}
 h1
 {
     color:sienna;
     font-family: sans-serif;
 }

 p 
 {
     text-align: center;
     padding-top: 60px;
     
 }

 p a
 {
    text-decoration: none;
    color:#accc33;
 }

 p a:hover
 {
     font-size: 18px;
 }
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color:rgb(68, 163, 109) ;
    box-shadow:20px 20px 400px 10px green inset;
    margin-left: 400px;
    margin-right: 400px;
    height: 750px;
}

input[type=submit]
{
    background-color:#ab5e54;
    text-decoration: none;
}

input[type=submit]:hover
{
    color: #fff;
    cursor: pointer;
    background-color:#977668 ;
}

input
{
    border-radius: 30px;
    width: 400px;
    height: 50px;
    display: block;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-bottom: 30px;
    
}

/* styling for Registration Page*/
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color:#0085ff ;
    box-shadow:20px 20px 400px 10px #0454fb inset;
    border-radius: 50px;
    margin-left: 400px;
    margin-right: 400px;
    height: 750px;
}





